In [1]:
import re
import pandas as pd
import tensorflow

In [2]:
import numpy as np

In [3]:
from nltk.corpus import stopwords

In [4]:
from nltk.tokenize import word_tokenize

In [5]:
import matplotlib.pyplot as plt

In [6]:
import string

In [7]:
import seaborn

In [8]:
import nltk

In [9]:
import warnings
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

In [10]:
train = pd.read_csv('Documents/ds/analytic_vidhya_sentiment/train_E6oV3lV.csv')

In [11]:
test = pd.read_csv('Documents/ds/analytic_vidhya_sentiment/test_tweets_anuFYb8.csv')

In [12]:
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [13]:
combined_data=train.append(test,ignore_index=True)

C:\Users\lenovo\Anaconda3\envs\tensorflow_gpu\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [14]:
def remove_pattern(input_text,patrn):
    pat=re.findall(patrn,input_text)
    for i in pat:
        input_text=re.sub(i,'',input_text)
    return input_text

In [15]:
combined_data.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [16]:
combined_data['tweet'].head()

0     @user when a father is dysfunctional and is s...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
Name: tweet, dtype: object

In [17]:
combined_data['dat']=np.vectorize(remove_pattern)(combined_data['tweet'],"@[\w]*")

In [18]:
combined_data['dat']=combined_data['dat'].str.replace("[^a-zA-Z#]", " ")

In [19]:
stop_words = set(stopwords.words('english'))

In [20]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [21]:
tokenize_tweet=combined_data['dat'].apply(lambda x: x.split())

In [22]:
tokenize_tweet.head()

0    [when, a, father, is, dysfunctional, and, is, ...
1    [thanks, for, #lyft, credit, i, can, t, use, c...
2                              [bihday, your, majesty]
3    [#model, i, love, u, take, with, u, all, the, ...
4              [factsguide, society, now, #motivation]
Name: dat, dtype: object

In [23]:
#So, basically Dataframe.apply() calls the passed lambda function for each column and pass the column contents as
#series to this lambda function. Finally it returns a modified copy of dataframe constructed with columns returned 
#by lambda functions, instead of altering original dataframe.

In [24]:
filtered_tweet1=combined_data['dat'].apply(lambda x: ' '.join([w for w in x.split() if not w in stop_words]))

In [25]:
filtered_tweet1.head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks #lyft credit use cause offer wheelchair...
2                                       bihday majesty
3                         #model love u take u time ur
4                       factsguide society #motivation
Name: dat, dtype: object

In [26]:
combined_data['dat']=filtered_tweet1

In [27]:
combined_data['dat'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks #lyft credit use cause offer wheelchair...
2                                       bihday majesty
3                         #model love u take u time ur
4                       factsguide society #motivation
Name: dat, dtype: object

In [28]:
combined_data.head()

,id,label,tweet,dat
0,1,0.0,@user when a father is dysfunctional and is s...,father dysfunctional selfish drags kids dysfun...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks #lyft credit use cause offer wheelchair...
2,3,0.0,bihday your majesty,bihday majesty
3,4,0.0,#model i love u take with u all the time in ...,#model love u take u time ur
4,5,0.0,factsguide: society now #motivation,factsguide society #motivation

In [29]:
tfidf_vectorizer = TfidfVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')

In [30]:
tfidf=tfidf_vectorizer.fit_transform(combined_data['dat'])
print(tfidf[1])

  (0, 114)	0.6328136700942134
  (0, 910)	0.5917077427507489
  (0, 855)	0.4994284794749952

In [31]:
train_tfidf=tfidf[:31962,:]

In [32]:
test_tfidf=tfidf[31962:,:]

In [33]:
x_train,x_valid,y_train,y_valid=train_test_split(train_tfidf,train['label'],random_state=42,test_size=0.3)

In [34]:
lreg = LogisticRegression()

In [35]:
y_train.shape

(22373,)

In [36]:
lreg.fit(x_train,y_train)

C:\Users\lenovo\Anaconda3\envs\tensorflow_gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [37]:
prediction=lreg.predict_proba(x_valid)

In [38]:
prediction.shape

(9589, 2)

In [39]:
prediction_la=prediction[:,1]>=0.3

In [40]:
prediction_la.astype(np.int)

array([0, 0, 0, ..., 0, 0, 0])

In [41]:
f1_score(y_valid, prediction_la)

0.5222024866785079

In [42]:
test_pred=lreg.predict_proba(test_tfidf)

In [43]:
test_pred_la=test_pred[:,1]>=0.3

In [44]:
test_pred_la=test_pred_la.astype(np.int)

In [45]:
y_train[:4]

9635     0
2447     0
16134    0
18393    0
Name: label, dtype: int64

# Custom Embedding layer and 1d CNN

In [54]:
word2idx = {word: idx for idx, word in enumerate(tfidf_vectorizer.get_feature_names())}
tokenize=tfidf_vectorizer.build_tokenizer()
preprocess = tfidf_vectorizer.build_preprocessor()

In [55]:
def to_sequence(tokenizer, preprocessor, index, text):
    words = tokenizer(preprocessor(text))
    indexes = [index[word] for word in words if word in index]
    return indexes

[850]

In [57]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(binary=True, stop_words=stopwords.words('english'), 
                             lowercase=True, min_df=3, max_df=0.9, max_features=5000)
vect=vectorizer.fit_transform(combined_data['dat'])

In [58]:
word2idx = {word: idx for idx, word in enumerate(vectorizer.get_feature_names())}
tokenize = vectorizer.build_tokenizer()
preprocess = vectorizer.build_preprocessor()
 
def to_sequence(tokenizer, preprocessor, index, text):
    words = tokenizer(preprocessor(text))
    indexes = [index[word] for word in words if word in index]
    return indexes
 
print(to_sequence(tokenize, preprocess, word2idx, "This is an important test!"))

[4433]

In [59]:
x_seq=[to_sequence(tokenize,preprocess,word2idx,x)for x in combined_data['dat']]

In [60]:
MAX_SEQ_LENGHT = len(max(x_seq,key=len))

In [61]:
from keras.preprocessing.sequence import pad_sequences
N_FEATURES = len(vectorizer.get_feature_names())

In [62]:
N_FEATURES

5000

In [63]:
x_seq = pad_sequences(x_seq, maxlen=MAX_SEQ_LENGHT, value=N_FEATURES)
print(x_seq[0])

[5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000
 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000
 5000 5000 5000 5000 5000 1546 3923 2410 3815]

In [64]:

from keras.models import Sequential
from keras.layers import Dense, Conv1D, MaxPooling1D, Flatten, Embedding


model = Sequential()
model.add(Embedding(len(vectorizer.get_feature_names()) + 1,
                    64,  # Embedding size
                    input_length=MAX_SEQ_LENGHT))
model.add(Conv1D(64, 5, activation='relu'))
model.add(MaxPooling1D(5))
model.add(Flatten())
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))
 
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

W0730 23:48:33.598578 27976 deprecation_wrapper.py:119] From C:\Users\lenovo\Anaconda3\envs\tensorflow_gpu\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0730 23:48:33.661063 27976 deprecation_wrapper.py:119] From C:\Users\lenovo\Anaconda3\envs\tensorflow_gpu\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0730 23:48:33.723552 27976 deprecation_wrapper.py:119] From C:\Users\lenovo\Anaconda3\envs\tensorflow_gpu\lib\site-packages\keras\backend\tensorflow_backend.py:3976: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

W0730 23:48:33.770413 27976 deprecation_wrapper.py:119] From C:\Users\lenovo\Anaconda3\envs\tensorflow_gpu\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0730 23:48:33.801692 27976 deprecation_wrapper.py:119] From C:\Users\lenovo\Anaconda3\envs\tensorflow_gpu\lib\site-packages\keras\backend\tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

W0730 23:48:33.817296 27976 deprecation.py:323] From C:\Users\lenovo\Anaconda3\envs\tensorflow_gpu\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 37, 64)            320064
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 33, 64)            20544
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 6, 64)             0
_________________________________________________________________
flatten_1 (Flatten)          (None, 384)               0
_________________________________________________________________
dense_1 (Dense)              (None, 64)                24640
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 365,313
Trainable params: 365,313
Non-trainable params: 0
_________________________________________________________________
None

In [65]:
x_train_seq=x_seq[:31962]

In [66]:
x_test_seq=x_seq[31962:]

In [67]:
x_train_s,x_valid_s,y_train_s,y_valid_s=train_test_split(x_train_seq,train['label'],random_state=42,test_size=0.3)

model.fit(x_train_s,y_train_s, 
          epochs=3, batch_size=512, verbose=1,
          validation_data=(x_train_s, y_train_s))

W0730 23:48:38.310800 27976 deprecation_wrapper.py:119] From C:\Users\lenovo\Anaconda3\envs\tensorflow_gpu\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Train on 22373 samples, validate on 22373 samples
Epoch 1/3
22373/22373 [==============================] - 12s 539us/step - loss: 0.3273 - acc: 0.9304 - val_loss: 0.2516 - val_acc: 0.9304
Epoch 2/3
22373/22373 [==============================] - 1s 57us/step - loss: 0.2448 - acc: 0.9304 - val_loss: 0.2274 - val_acc: 0.9304
Epoch 3/3
22373/22373 [==============================] - 2s 70us/step - loss: 0.2107 - acc: 0.9304 - val_loss: 0.1876 - val_acc: 0.9304

In [69]:
test['label']=(model.predict(x_test_seq)>=0.3).astype(np.int)
submission = test[['id','label']]
submission.to_csv('sub_cnn.csv', index=False)

# LSTM

In [71]:
from keras.models import Sequential
from keras.layers import Dense, LSTM, Embedding
 
modell = Sequential()
modell.add(Embedding(len(vectorizer.get_feature_names()) + 1,
                    64,  # Embedding size
                    input_length=MAX_SEQ_LENGHT))
modell.add(LSTM(64))
modell.add(Dense(units=1, activation='sigmoid'))
 
modell.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
print(modell.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 37, 64)            320064
_________________________________________________________________
lstm_1 (LSTM)                (None, 64)                33024
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 65
=================================================================
Total params: 353,153
Trainable params: 353,153
Non-trainable params: 0
_________________________________________________________________
None

In [72]:
x_train_s,x_valid_s,y_train_s,y_valid_s=train_test_split(x_train_seq,train['label'],random_state=42,test_size=0.3)

modell.fit(x_train_s,y_train_s, 
          epochs=3, batch_size=512, verbose=1,
          validation_data=(x_train_s, y_train_s))

Train on 22373 samples, validate on 22373 samples
Epoch 1/3
22373/22373 [==============================] - 8s 365us/step - loss: 0.3571 - acc: 0.9243 - val_loss: 0.2445 - val_acc: 0.9304
Epoch 2/3
22373/22373 [==============================] - 9s 386us/step - loss: 0.2244 - acc: 0.9305 - val_loss: 0.1777 - val_acc: 0.9338
Epoch 3/3
22373/22373 [==============================] - 9s 394us/step - loss: 0.1273 - acc: 0.9527 - val_loss: 0.0857 - val_acc: 0.9674

In [73]:
test['label']=(modell.predict(x_test_seq)>=0.3).astype(np.int)

In [74]:
submission = test[['id','label']]

In [75]:
submission.to_csv('sub_lstm.csv', index=False)

array([False, False,  True])

False

In [6]:
c=

TypeError: 'list' object cannot be interpreted as an integer

NameError: name 'y_train' is not defined